<figure class="table" style="width:834.547px;">
    <table style="border:1px solid;">
        <tbody>
            <tr>
                <td style="border:1px solid; padding:0.5em;">
                    <p style="margin-left:0px; text-align:center;">
                        <span style="font-size:15px;">
                            <strong>동판비 0원,<br>
                            최소 한 묶음부터</strong>
                        </span>
                    </p>
                </td>
                <td style="border:1px solid; padding:0.5em;">
                    <p style="margin-left:0px; text-align:center;">
                        <span style="font-size:15px;">
                            <strong>고품질 유럽산 잉크 사용</strong>
                        </span>
                    </p>
                </td>
                <td style="border:1px solid; padding:0.5em;">
                    <p style="margin-left:0px; text-align:center;">
                        <span style="font-size:15px;">
                            <strong>다양한 소재별 인쇄 최적화</strong>
                        </span>
                    </p>
                </td>
                <td style="border:1px solid; padding:0.5em;">
                    <p style="margin-left:0px; text-align:center;">
                        <span style="font-size:15px;">
                            <strong>친환경 포장재 선택 가능</strong>
                        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid; padding:0.5em;">
                    <p style="margin-left:0px; text-align:center;">
                        <span style="font-size:15px;">
                            동판 제작비가 발생하지 않아 부담 없이 디자인 변경 및 재주문이 가능합니다.

                        </span>
                    </p>
                </td>
                <td style="border:1px solid; padding:0.5em;">
                    <p style="margin-left:0px; text-align:center;">
                        <span style="font-size:15px;">
                            친환경 인증 및 색감 품질을 모두 만족하는 잉크로, 어떤 소재에도 선명하게 인쇄됩니다.
                        </span>
                    </p>
                </td>
                <td style="border:1px solid; padding:0.5em;">
                    <p style="margin-left:0px; text-align:center;">
                        <span style="font-size:15px;">
                            비닐봉투, 종이봉투, 골판지 박스 등 소재별 특성을 고려한 인쇄기법을 사용해 품질을 높였습니다.
                        </span>
                    </p>
                </td>
                <td style="border:1px solid; padding:0.5em;">
                    <p style="margin-left:0px; text-align:center;">
                        <span style="font-size:15px;">
                            FSC, 친환경 인증을 획득한 포장재를 선택할 수 있어 지속가능한 브랜드에 적합합니다.
                        </span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</figure>
<p style="margin-left:0px;text-align:center;">
    패키지는 브랜드의 감도와 지속가능성을 동시에 담는 매체입니다.<br>
    칼렛스토어는 브랜드의 가치와 제품 특성에 맞춘 구조, 재질, 인쇄 조합을 제안하며<br>
    소량제작부터 고급 브랜드 전용 박스까지 폭넓게 대응합니다.
</p>

<p style="text-align:center;">
    <b><u>칼렛스토어 스마트 패키징 & 디자인 솔루션</u></b>
</p>

<p style="text-align:center;">
    구조 설계부터 소재, 인쇄 방식 커스터마이징 가능<br>
    탄소중립마크 / FSC / 소이잉크 등 인증 옵션 선택 가능<br>
    프리미엄 포장 가공 (형압, 동판, 싸바리 등) 대응<br>
    디자인 + 인쇄 + 제작 원스톱 제공
</p>

<p style="text-align:center;">
    <a target="_blank" rel="noopener noreferrer" href="https://www.caretstore.co.kr/customizing/print/">
        ➜ 칼렛스토어 소량인쇄 더 알아보기
    </a>
</p>

<p style="text-align:center;">
    칼렛스토어는<br>
    고객의 시간과 비용을 줄이고 효율을 높여드리는<br>
    똑똑한 패키징 솔루션 플랫폼입니다.<br><br>
    다양한 제조파트너사의 포장재를<br>
    하나의 플랫폼에서 비교, 구매할 수 있습니다.
</p>

<h2 style="margin-left:0px;text-align:center;">
    <a target="_blank" rel="noopener noreferrer" href="https://www.caretstore.co.kr/register/">
        <span style="font-size:24px;">
            <strong>회원가입하고 5만원 쿠폰팩 받기</strong>
        </span>
    </a>
</h2>